<extend name="Public/base" />

<block name="body">
<body>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Project name</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#about">About</a>
					</li>
					<li>
						<a href="#contact">Contact</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							Dropdown
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="#">Action</a>
							</li>
							<li>
								<a href="#">Another action</a>
							</li>
							<li>
								<a href="#">Something else here</a>
							</li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li>
								<a href="#">Separated link</a>
							</li>
							<li>
								<a href="#">One more separated link</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="../navbar/">Default</a>
					</li>
					<li>
						<a href="../navbar-static-top/">Static top</a>
					</li>
					<li class="active">
						<a href="./">
							Fixed top
							<span class="sr-only">(current)</span>
						</a>
					</li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<div class="container">
		<table class="table table-condensed">
			<tr class="success">
				<td>姓名</td>
				<td>性别</td>
				<td>身份证</td>
				<td>民族</td>
				<td>房间</td>
				<td>扫描时间</td>
			</tr>
		<tr class="active">
				<td>{$val}</td>
				<td>{$val}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
     
         </table>
	</div>
	</div>
	<!-- /container -->
	<div class="container">
		<nav>
			<ul class="pagination">
				<li>
					<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li>
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#">6</a>
				</li>
				<li>
					<a href="#">7</a>
				</li>
				<li>
					<a href="#">8</a>
				</li>
				<li>
					<a href="#">9</a>
				</li>
				<li>
					<a href="#">10</a>
				</li>
				<li>
					<a href="#">11</a>
				</li>
				<li>
					<a href="#">12</a>
				</li>
				<li>
					<a href="#">13</a>
				</li>
				<li>
					<a href="#">14</a>
				</li>
				<li>
					<a href="#">15</a>
				</li>
				<li>
					<a href="#">16</a>
				</li>
				<li>
					<a href="#">17</a>
				</li>
				<li>
					<a href="#">18</a>
				</li>
				<li>
					<a href="#">19</a>
				</li>
				<li>
					<a href="#">20</a>
				</li>
				<li>
					<a href="#">21</a>
				</li>
				<li>
					<a href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</block>

